*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    font-family: sans-serif;
}


header{
    background-color: #FF6801;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
}

.container{
    width: 80%;
    margin: 0 auto;
}

img{
    display: block;
}


header nav div.container figure img{
    width: 120px;
    padding-block: 10px;
    transform: translate(-50%);
}

header nav div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav div.container div{
    display: flex;
    gap: 0.5em;
}
header nav a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}
main{
    padding-top:6em;

}
main div.row{
    display: flex;
    justify-content: space-between;

}
main div.row{
    margin-bottom: 3em;
}

main div.row:last-of-type{
    margin-bottom: 4em;
}


main div.container div.row div.card{
    width: calc((100% / 3) - 1em);
}


main div.container div.card figure img{
    width: 100%;
    height: 100%;
}

/* card info first span */
main div.card span:first-of-type{
    font-size: 0.8rem;
    text-transform: capitalize;
}

main div.card h5{
    text-transform: uppercase;
}

main div.card span.price{
    color: red;
    font-size: 0.8rem;
}

main div.card div.card-info span.price::after{
    font-size: 0.8rem;
    margin-left: 0.3em;
    color: gray;
    text-decoration: line-through;
}

main div.card:first-of-type div.card-info span.price::after{
    content: "29,99";
}

main div.card:nth-of-type(2) div.card-info span.price::after{
    content: "29,99";
}

main div.card:nth-of-type(3) div.card-info span.price::after{
    content: "184,99";
}

main div.card:nth-of-type(4) div.card-info span.price::after{
    content: "29,99";
}

/* if discount is needed */
main div.card:nth-of-type(5) div.card-info span.price::after{
    content: "";
}

main div.card:nth-of-type(6) div.card-info span.price::after{
    content: "";
}


main div.card figure{
    position: relative;
}


main div.card figure span.heart{
    font-size: 1.5rem;
    background-color: white;
    padding: 0.3em 0.5em;
    top: 0.5em;
    right:0;
}

main div.card figure span.heart:hover{
    color: red;
    cursor: pointer;
}

main div.card figure span{
    position: absolute;
}


div.card figure img:first-of-type{
    position: absolute;
    top:0;
}
div.card figure img:first-of-type:hover{
    opacity: 0;
    cursor: pointer;
}


main div.card figure span.discount,
main div.card figure span.sustainability{
    bottom: 3em;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.2em;
}

main div.card figure span.discount{
    background-color: red;

}

main div.card figure span.sustainability{
    background-color: green;
    left: 10%;
}

main div.card figure span.only{
    left:0;
}

footer{
    background-color: #1A1A1A;
    padding-block: 2em;
    z-index: 998;

}
footer div.container{
    display: flex;
    justify-content: space-between;
}

footer div.container div.legal-info-link{
    display: flex;
    gap: 1em;
}

footer div.container div.social-section div.socials{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    gap:0.5em;
}

footer a{
    text-decoration: none;
    color: white;
}
footer h4{
    color: white;
    line-height: 2rem;
}
